<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../public/css/components/header.css">

<link rel="stylesheet" href="../../public/css/style.css">
 
</head>

 <nav class="navbar">
    <a class="brand" href="index.html">Smart Campus Event Planner</a>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="contact.html">About / Contact</a></li>
      <li><a href="login.html" class="active">Login</a></li>
      <li><a href="register.html">Sign Up</a></li>
    </ul>
  </nav>

  