<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Us</title>

    <link rel="stylesheet" href="../public/css/components/header.css">
    <link rel="stylesheet" href="../public/css/components/footer.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/about.css">

    <script src="../public/js/components.js" defer></script>
</head>

<body>

    <div id="header-container"></div>


<main class="about-page">
    <section class="about-hero">
        <h1>About Smart Campus Event Planner</h1>
        <p>
            Smart Campus Event Planner is a centralized platform designed to help
            university students discover and manage campus events more easily.
        </p>
    </section>

    <section class="about-section">
        <h2>Our Purpose</h2>
        <p>
            Campus event information is often scattered across emails, posters,
            social media, Moodle announcements, and student group chats. Our goal
            is to bring this information together in one convenient place so
            students do not miss valuable opportunities.
        </p>
    </section>

    <section class="about-section">
        <h2>For Students</h2>
        <p>
            Students can browse upcoming events, view event details, register or
            cancel registrations, and keep track of their activities through a
            personalized dashboard.
        </p>
    </section>

    <section class="about-section">
        <h2>For Organizers</h2>
        <p>
            Event organizers and administrators can create and manage events,
            monitor registrations, track attendance, manage event capacity, and
            view participation statistics.
        </p>
    </section>

    <section class="about-section">
        <h2>Our Goal</h2>
        <p>
            Our goal is to make campus life more connected, organized, and
            accessible by helping students find events that match their interests.
        </p>
    </section>

    <section class="about-section">
        <h2>About the Project</h2>
        <p>
            This website was developed by Team 16 as part of the SOEN 287 Web
            Programming course at Concordia University.
        </p>
    </section>

    <section class="about-section contact-section">
    <h2>Contact Us</h2>

    <p>
        Have a question, suggestion, or issue? Contact the Smart Campus Event
        Planner team by email.
    </p>

    <a
        href="mailto:smartcampus16@email.com"
        class="contact-email"
    >
        smartcampus16@email.com
    </a>
</section>

</main>








    <div id="footer-container"></div>

</body>




</html>