<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Manage Events</title>

    <link rel="stylesheet" href="../public/css/components/header.css">
    <link rel="stylesheet" href="../public/css/components/footer.css">


    <script src="../public/js/components.js" defer></script>
</head>

<body>

    <div id="header-container"></div>






    <main>
<!-- write your code here -->

        <h1>Manage Events</h1>
        <p>This is the manage events page.</p>
    </main>









    <div id="footer-container"></div>

</body>




</html>